@model LessonIndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}

<h1>@_localizer["Lessen"]</h1>

@if(User.IsInRole("SystemAdministrator"))
{
    <p>
        <a asp-action="Create">@_localizer["Maak een nieuwe les aan"]</a>
    </p>
}


<form asp-controller="Lessons" asp-action="Index" method="get">
    <h4>
        <select asp-for="SelectedType" asp-items="Model.TypeList" onchange="this.form.submit()">
            <option value="Alle">@_localizer["Alle Lessen"]</option>

        </select>
        </h4>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @_localizer["Naam"]
            </th>
            <th>
                @_localizer["Beschrijving"]
            </th>
            <th>
                @_localizer["Type"]
            </th>
            <th>
                @_localizer["Groep"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lessons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
             </td>
            <td>

                    @if (User.IsInRole("SystemAdministrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Bijwerken"]</a>
                        <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Verwijderen"]</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
