@model MesDoigtsDeFees.Models.LessonRichting

@{
    ViewData["Title"] = "Delete";
}

<h1>Traject verwijderen</h1>

<h3>Ben je zeker dat je dit wil verwijderen?</h3>
<div>
    <h4>Traject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Richting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Richting.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RichtingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RichtingName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar lijst</a>
    </form>
</div>
