@model IEnumerable<MesDoigtsDeFees.Models.LessonRichting>

@{
    ViewData["Title"] = "Index";
}

<h1>Trajecten</h1>

<p>
    <a asp-action="Create">Maak een nieuwe traject aan</a>
</p>
<table class="table">
    <thead>
        <tr>
            
           
            <th>
                @Html.DisplayNameFor(model => model.Richting)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RichtingName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonName)
            </td>
           
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bijwerken</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
